body{
    background-color: #1f242d;
    color: aliceblue;
    font-family: Montserrat;

}
html{
    scroll-behavior: smooth;
}

    


.navbar-brand{
    font-size:3rem;
    font-weight: 800;
    
}
.nav-link{
    margin: 20px;
    font-size:1.5rem;
    font-weight: bold;
}
#home{
    margin-top:100px;
    text-align: center;
    font-family:Montserrat;
    font-weight: bold;
    word-spacing: 30px;
      
}
.myimage {
    width: 400px;
    border-radius:50%;
    animation: floatImg 4s ease-in-out infinite;
}
@keyframes floatImg{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.name{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 100px;
    text-align: center;
}
.detail{
    font-weight: 300;
    font-size: large;
}
.facebook{
    font-size:2rem;
    margin:4% 2%;
   
}
.facebook:hover{
    color: rgb(137, 224, 224);
}

.hii{
font-weight:600;
text-align: center;
}
span{
    color: rgb(137, 224, 224);
}
.mainkit{
    width: 500px;
    border-radius:40%;
    margin-top:10%;
    
}

.Aboutme{
    margin:10% 0% 10% 0%;
    padding: 10%;
    background-color: #282c33;
   
}
li{
    word-spacing: 30px;
    margin-bottom:3%;
    font-size:1.5rem;
   font-weight: 500; 
   text-align: left;
}
.code{
    font-size:6rem;
   font-weight: bolder;
    color: rgb(137, 224, 224);
    
   
}
.code:hover{
    color: rgb(15, 196, 196)
    
}
#Services{
    text-align: center;
 
}
.Frontend{
    margin: 0 20px 0 100px;
   border-radius:20%;
    background-color: #303a51

}
.Fullstack{
    margin: 0 20px 0 100px;
    border-radius:20%;
    background-color: #303a51  
}
.Design{
    margin: 0 20px 0 100px;
    border-radius:20%;
    background-color: #303a51  
}
.box{
    margin-bottom:10%;
    font-weight:600;
}
.port1,.port2,.port3{
    margin:20% 0% 10% 5%;
   
    width: 400px
    
}
 #Project h1{
margin-top:10rem;
text-align: center;
font-weight: 700;
font-size: 4rem;
 }

.Portfolio-container{
    margin:10% 10% ;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 4rem;
}
.Portfolio-container .project1{
    position: relative;
    border-radius: 6rem;
    box-shadow: 0 0 1rem;
    overflow: hidden;
    display:flex;
 
}
.project1 img{
    width: 100%;
}
.Portfolio-layer,.project1{
    position: absolute;
    left: o;
    bottom: 0;
    width: 100%;
    height: 100%;
   background:linear-gradient(rgba(0,0,0,0.1),rgb(4, 43, 43));
   display: flex;
   justify-items: center;
   align-items: center;
   flex-direction: column;
   text-align: center;

}
.Portfolio-layer,.project1:hover{
    color: rgb(137, 224, 224);
}
.input-group
{
    padding: 0% 20% 0% 20%;
    margin:10% 0 10% 0;
   
}
.me,.form-control{
    margin: 2% 1%;
    border-radius:0.8rem;
    color: rgb(255, 255, 255);
}
@media (max-width:1200px) {
    html{
        font-size:55%;
    }
}
@media(max-width:996px)
{
    .tophead{
        padding: 3rem 3%;
    }
    .feature{
        padding: 3rem 3%;
    }
}
.footer-text{
    
    display: flex;
    color: aqua;
    padding: 2rem 9%;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:#282c33;
}
.footer-icon {
    align-items: right;
    justify-content: center;
    display: inline-flex;
    background: rgb(137, 224, 224) ;
    padding: .8rem;
    border-radius: .8rem;
    font-size: 1rem;

}